<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageUsuarios.master.cs" Inherits="ReportesCovid_web.MasterPage.MasterPageUsuarios" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>


            <div class="img bg-wrap text-center py-4" style="background: #2f89fc;">
                <div class="user-logo">
                    <div class="img" style="background-image: url('../../img/Cliente/usuario.png');"></div>
                    <asp:Label runat="server" ID="lblUsuario" style="font-weight: 600;"></asp:Label>
                </div>
            </div>


            <ul class="list-unstyled components mb-5">
                <%--<li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-home mr-3"></span>Mi Perfil</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Ajustes</a>
                        </li>
                    </ul>
                </li>--%>
                <li>
                    <a href="/principal"><span class="fa fa-home mr-3" style="margin-right: 1.19rem !important;"></span>Home</a>
                </li>
                <li>
                    <a href="/micuenta/perfil"><span class="fa fa-user mr-3" style="margin-right: 1.19rem !important;"></span>Mi Perfil</a>
                </li>

                <li>
                    <a href="#direcciones" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-map-marker mr-3" style="margin-right: 1.19rem !important;"></span>Mis Direcciones</a>
                    <ul class="collapse list-unstyled" id="direcciones">
                        <li>
                            <a href="/micuenta/direcciones">Lista</a>
                        </li>
                        <li>
                            <a href="/micuenta/direccion">Agregar Direccion</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#subclientes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="fa fa-users mr-2" style="margin-right: 1.19rem !important;"></span>Mis Clientes
                    </a>
                    <ul class="collapse list-unstyled" id="subclientes">
                        <li>
                            <a href="/micuenta/subclientes/lista">Lista</a>
                        </li>
                        <li>
                            <a href="/micuenta/subclientes/registro">Nuevo</a>
                        </li>
                    </ul>
                </li>

                <%--Opción Envios V2--%>
                <li>
                    <a href="#envios2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <span class="fa fa-truck mr-3" style="margin-right: 1.19rem !important;"></span>
                        Envios
                    </a>
                    <ul class="collapse list-unstyled" id="envios2">
                        <li>
                            <a href="/micuenta/envios/lista">Lista</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <asp:LinkButton runat="server" OnClick="btnSalir_Click"><span class="fa fa-sign-out mr-3"></span>Cerrar Sesión</asp:LinkButton>
                </li>

            </ul>

        </nav>
        <div class="modal fade" id="passwordReset" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="passwordResetLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        Reinicio de contraseña
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align: justify;">
                                <p style="margin: 0;">
                                    Estimado
                                    <asp:Label runat="server" ID="lblUserName" />
                                    ,
                                </p>
                                <p style="margin-top: 5px;">
                                    Hemos detectado que ha solicitado un reinicio de contraseña, como medida de seguridad debera cambiar la contraseña proporcionada por una de su preferencia.
                                </p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Contraseña actual</label>
                                    <asp:TextBox runat="server" ID="txtCurrentPassword" ClientIDMode="Static" CssClass="form-control input-field" MaxLength="30" TextMode="Password" placeholder="Ingrese aqui su contraseña actual" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nueva contraseña</label>
                                    <asp:TextBox runat="server" ID="txtNewPassword" ClientIDMode="Static" CssClass="form-control input-field" MaxLength="30" TextMode="Password" placeholder="Ingrese aqui su nueva contraseña" />
                                    <div id="strengthMessage"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Repita contraseña</label>
                                    <asp:TextBox runat="server" ID="txtNewPassword1" ClientIDMode="Static" CssClass="form-control input-field" MaxLength="30" TextMode="Password" placeholder="Ingrese aqui su nueva contraseña" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <asp:HiddenField runat="server" ID="hdnPasswordStrengthValid" ClientIDMode="Static" Value="false" />
                        <asp:Button runat="server" ID="btnActualizarPassword" CssClass="btn btn-success" Text="Guardar" OnClick="btnActualizarPassword_Click" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalServicios" tabindex="-1" role="dialog" aria-labelledby="modalServiciosLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section id="menuservicios" class="carrers_area">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="ul-internal-options">
                                        <li class="submenuservicios" id="traetusproductos" data-href="/micuenta/envios/lo-traemos">
                                            <div class="row">
                                                <div class="col-1">
                                                    <i class="fa fa-plane"></i>
                                                </div>
                                                <div class="col-10">
                                                    <a href="/micuenta/envios/lo-traemos">e-Chask trae tus productos
                                                    </a>
                                                    <span>Envía los productos que deseas comprar a nuestro almacén en USA y nosotros lo llevamos hasta la puerta de tu casa.</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="submenuservicios" id="compraporti" data-href="/micuenta/envios/lo-compramos">
                                            <div class="row">
                                                <div class="col-1">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </div>
                                                <div class="col-10">
                                                    <a href="/micuenta/envios/lo-compramos">e-Chask compra por ti
                                                    </a>
                                                    <span>Si no cuentas con tarjetas de crédito o débito y/o necesitas que nosotros hagamos la compra de tus productos solo debes enviar o los link que necesitas comprar en cualquier tienda de tu preferencia y nosotros efectuaremos la compra, acondicionaremos tus productos y te los enviaremos a la puerta de tu casa u oficina.</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Page Content  -->
        <asp:HiddenField runat="server" ID="hdnRootWeb" ClientIDMode="Static" Value="<%$appSettings:RootWeb %>" />
        <div id="content" class="p-4 p-md-5 pt-5">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>

</asp:Content>
